:root {
  --bg: #fcf9f9;
  --font-small: #767676;
  --bg-grey: #d9d9d9;
  --font: #000000;
  --grey: #919191;
  --btn_card_bg: #919191;
}

@import url("fonts/font-awesome.css");
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--font_2);
}

.active {
  border-bottom: 2px solid var(--font_2);
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bg);
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-size: calc(10px + 2vmin);
  color: var(--font);
}

.test_styles {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
