:root {
  --bg: #778d45;
  --font_2: #ffffff;
  --bg_2: #aec670;
  --font: #000000;
  --borders: #344c11;
  --grey: #aec09a;
}

@import url("fonts/font-awesome.css");
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--font_2);
}

.active {
  border-bottom: 2px solid var(--font_2);
  font-weight: 600;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bg);
  height: 100%;
}

.test_styles {
  font-size: 16px;
  background: #9b9b9b;
  cursor: pointer;
}

.colors {
  background-color: #1a2902;
  background-color: #344c11;
  background-color: #778d45;
  background-color: #aec670;
  background-color: #aec09a;
}

/* подбор цветов https://color.romanuke.com/czvetovaya-palitra-4573/ */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
