:root {
  --bg: #fcf9f9;
  --font-small: #767676;
  --bg-grey: #d9d9d9;
  --font: #000000;
  --grey: #919191;
  --btn_card_bg: #919191;
}

@import url("fonts/font-awesome.css");
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--font_2);
}

.active {
  border-bottom: 2px solid var(--font_2);
  font-weight: 600;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bg);
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
}

.test_styles {
  font-size: 16px;
  background: #9b9b9b;
  cursor: pointer;
}

.colors {
  background-color: #1a2902;
  background-color: #344c11;
  background-color: #778d45;
  background-color: #aec670;
  background-color: #aec09a;
}

/* подбор цветов https://color.romanuke.com/czvetovaya-palitra-4573/ */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
